body {

    background: #bfe4f3;
    width: 100wv;
    height: 100wh;
    display: flex;
    position: relative;
    top: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    color: rgb(28, 85, 91);

}

$primary-color: rgb(28, 85, 91);

.reflectBlock {
    display: flex;
    width: 40%;
    height: 20vw;
    border-radius: 4px;
    margin-top: 20px;
    color: $primary-color;
    position: relative;
    background: #ffffff;

    .reflectBlock_L {
        width: 50%;

        #location {
            text-align: left;
            position: relative;
            top: 10px;
            left: 20px;
            font-size: 30px;
        }

        #explain {
            text-align: left;
            position: relative;

            left: 20px;
            font-size: 25px;
        }

        #temperatureMin {
            text-align: left;
            position: relative;

            left: 20px;
            font-size: 25px;
        }

        #rain {
            text-align: left;
            position: relative;

            left: 20px;
            font-size: 25px;
        }
    }


    .reflectBlock_R {
        display: flex;
        justify-content: center;

        width: 50%;

        // #rainIcon {

        //     font-size: 100px;
        //     text-align: center;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        // }
        // #cloudIcon{
            
        //     font-size: 100px;
        //     text-align: center;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        // }
    }

}

.reflectBlock_R-show{
    position: relative;
    top:30px;
    font-size: 100px;
    
   
}

.reflectBlock_R-hidden{
    display:none;

}